{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/css/material-dashboard.css' %}"/>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <script src="https://kit.fontawesome.com/876a366f24.js" crossorigin="anonymous"></script>
    <title>GWF Workspace</title>
</head>
<body class="dark-edition">
  <div class="wrapper">
    <div class="sidebar" data-color="azure" data-background-color="black" data-image="#">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo"><a href="{% url 'overview' %}" class="simple-text logo-normal">GWF Workspace</a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'overview' %}">
              <i class="material-icons">home</i><p>Home</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'workflow-hierarchy' %}">
              <i class="material-icons">mediation</i><p>Workflow Hierarchy</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'gwf-db' %}">
              <i class="material-icons">view_agenda</i><p>GWF Database</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://w.amazon.com/bin/view/Guided_Workflow/Home">
              <i class="material-icons">help</i><p>Help</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

    {% block content %}

    {% endblock content %}

<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/popper.min.js' %}"></script>
<script src="{% static '/js/bootstrap-material-design.min.js' %}"></script>
<script src="https://unpkg.com/default-passive-events"></script>
<script src="{% static '/js/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static '/js/bootstrap-notify.js' %}"></script>
<script src="{% static '/js/material-dashboard.js' %}"></script>
  </div>  
</body>
</html>