<form method="POST" action="">
    {% csrf_token %}
    <h4>Question IDs</h4>        
        <ol id="form-generator">
            {% if content %}
                {% for idx, itm in content %}
                <li id='q-id-{{idx}}'>{% include 'generator_input.html' %}</li>
                {% endfor %}
            {% else %}
            <li id='q-id-1'>{% include 'generator_input.html' %}</li>
            {% endif %}
        </ol>
     <button type="submit" class="btn btn-sm" name="request" value="request">Request</button>
    <button type="button" class="btn btn-sm" onclick="requestIDs()" name="new-id" value="new-id" id="new-q-id">Add another Auto-Answer</button> 
</form>