<form action="" method="POST">
    {% if mandates %}
        {% for mandate in mandates%}
            <label for="label-order-{{mandate}}">{{mandate}} Order</label><br>
            <input type="number" name="order-input-{{mandate}}" id="order-input-{{mandate}}" placeholder="Order">
            <hr>
        {% endfor%}
    {% endif %}
    {% if fups %}
        {% for fup in fups %}
            <label for="label-expression-{{fup}}">{{fup}} showExpression & Order</label><br>
            <input type="text" name="expression-input-{{fup}}" id="expression-input-{{fup}}" placeholder="showExpression"><input type="number" name="order-input-{{fup}}" id="order-input-{{fup}}" style="margin-left: 10px;" placeholder="Order">
            <hr>                                    
        {% endfor%}
    {% endif %}
    <button type="submit" class="btn btn-sm btn-info" name="generate" value="request">Generate</button>
</form>