{% extends 'base.html' %}
{% block content %}
<div class="main-panel">
    {% include 'navbar.html' %}
    <div class="content">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <h3 style="text-align: center;">Account Logout</h3>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                        <h4 style="text-align: center;">Are you sure you want to logout?</h4>
                        <div class="row">
                            <div class="col-md-6" style="text-align: center;">
                                <a href="{% url 'overview' %}" class="btn btn-info">NO</a>
                            </div>
                            <div class="col-md" style="text-align: center;">
                                <button type="submit" class="btn btn-info">Logout</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}